nav {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
nav a {
  color: #212832;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
nav a span {
  color: #ff8032;
}
nav button {
  background-color: #ff8032;
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: #999999;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
  text-shadow: 0.2px 0.2px 0.2px gray;
}
nav ul li a.is-active {
  color: black;
  border-bottom: 2px solid #ff8032;
}

.hero-section {
  margin-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  gap: 8rem;
}
.hero-section .hero-section-texts {
  width: 40%;
}
.hero-section .hero-section-texts .primary-text {
  font-size: 3.5rem;
}
.hero-section .hero-section-texts .secondary-text {
  font-size: 3.5rem;
  color: #263fa3;
}
.hero-section .hero-section-texts .gray-text {
  font-size: 1.4rem;
  color: #989898;
  line-height: 2rem;
}
.hero-section .hero-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  gap: 3rem;
}
.hero-section .hero-footer button {
  background-color: #ff8032;
  border-radius: 0.7rem;
  border: none;
  padding: 0rem 3rem;
  color: white;
}
.hero-section .hero-footer .video-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-footer .video-button img {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid gray;
  padding: 12px;
  border-radius: 45%;
  background-color: #ff8032;
}
.hero-section .hero-footer .video-button .watch-video-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.hero-section img {
  width: 26%;
}
.hero-section .header-info {
  display: flex;
  align-items: center;
}
.hero-section .header-info .infos {
  display: flex;
  flex-direction: column;
}
.hero-section .header-info .infos .info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}
.hero-section .header-info .infos .info img {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero-section .header-info .infos .info .specs {
  display: flex;
  flex-direction: column;
}
.hero-section .header-info .infos .info .specs .title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  height: min-content;
}
.hero-section .header-info .infos .info .specs .description {
  font-size: 1.2rem;
  margin: 0;
  color: #989898;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.search-section .category p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.search-section .category select {
  width: 100%;
  padding: 1rem 0;
  border: none;
  background-color: transparent;
  border-radius: 8px;
}
.search-section .category select option {
  border: none;
  background-color: transparent;
  padding: 2rem;
}
.search-section .button {
  background-color: #132742;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.search-section .button button {
  border: none;
  background-color: transparent;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

/*# sourceMappingURL=main.css.map */
