nav {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
nav a {
  color: #212832;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
nav a span {
  color: #ff8032;
}
nav button {
  background-color: #ff8032;
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: #999999;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
  text-shadow: 0.2px 0.2px 0.2px gray;
}
nav ul li a.is-active {
  color: black;
  border-bottom: 2px solid #ff8032;
}

.hero-section {
  margin-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  gap: 8rem;
}
.hero-section .hero-section-texts {
  width: 40%;
}
.hero-section .hero-section-texts .primary-text {
  font-size: 3.5rem;
}
.hero-section .hero-section-texts .secondary-text {
  font-size: 3.5rem;
  color: #263fa3;
}
.hero-section .hero-section-texts .gray-text {
  font-size: 1.4rem;
  color: #989898;
  line-height: 2rem;
}
.hero-section .hero-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  gap: 3rem;
}
.hero-section .hero-footer button {
  background-color: #ff8032;
  border-radius: 0.7rem;
  border: none;
  padding: 0rem 3rem;
  color: white;
}
.hero-section .hero-footer .video-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-footer .video-button img {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid gray;
  padding: 12px;
  border-radius: 45%;
  background-color: #ff8032;
}
.hero-section .hero-footer .video-button .watch-video-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.hero-section img {
  width: 26%;
}
.hero-section .header-info {
  display: flex;
  align-items: center;
}
.hero-section .header-info .infos {
  display: flex;
  flex-direction: column;
}
.hero-section .header-info .infos .info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}
.hero-section .header-info .infos .info img {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero-section .header-info .infos .info .specs {
  display: flex;
  flex-direction: column;
}
.hero-section .header-info .infos .info .specs .title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  height: min-content;
}
.hero-section .header-info .infos .info .specs .description {
  font-size: 1.2rem;
  margin: 0;
  color: #989898;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  margin-top: 7.5rem;
  height: 3.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.search-section .category p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.search-section .category select {
  width: 100%;
  padding: 1rem 0;
  border: none;
  background-color: transparent;
  border-radius: 8px;
}
.search-section .category select option {
  border: none;
  background-color: transparent;
  padding: 2rem;
}
.search-section .button {
  background-color: #132742;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-section .button button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.js-example-responsive {
  background-color: transparent;
  border: none;
  padding: 1.5rem;
}
.js-example-responsive option {
  background-color: transparent;
}

.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: black;
  padding: 8px 32px 8px 2px;
  border: 1px solid transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.recently-added-section {
  display: flex;
  flex-direction: column;
}
.recently-added-section .recently-added-header {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 4rem 0rem 4rem;
  justify-content: space-between;
}
.recently-added-section .recently-added-header .recently-added-text {
  font-size: 2.5rem;
}
.recently-added-section .recently-added-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.recently-added-section .recently-added-buttons .prev-button {
  background-color: #fafafa;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2274509804);
  font-size: larger;
}
.recently-added-section .recently-added-buttons .next-button {
  background-color: #ff7b29;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2274509804);
  font-size: larger;
  color: white;
  transition: all 0.3s ease-in-out;
}
.recently-added-section .recent-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
}
.recently-added-section .recent-items .recent-item {
  margin: 0 4rem 0 4rem;
  background-color: #ffffff;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 1rem;
}
.recently-added-section .recent-items .recent-item .image-container {
  background-color: #fafafa;
  padding: 1rem 6rem;
  height: 40%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 1rem;
}
.recently-added-section .recent-items .recent-item .image-container img {
  width: 120px;
}
.recently-added-section .recent-items .recent-item .price-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recently-added-section .recent-items .recent-item .price-action button {
  padding: 0;
  height: min-content;
  padding: 0.8rem;
  border-radius: 0.7rem;
  background-color: transparent;
  color: #0cb6ff;
  border-color: #0cb6ff;
  font-size: large;
}
.recently-added-section .recent-items .recent-item .datas p {
  color: #989898;
}
.recently-added-section .recent-items .recent-item .recent-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recently-added-section .recent-items .recent-item .recent-footer .bidding-time {
  color: #989898;
}

.top-categories {
  margin: 4rem;
}
.top-categories .top-categories-header {
  display: flex;
  justify-content: space-between;
}
.top-categories .top-categories-header .top-categories-texts p {
  color: #989898;
}
.top-categories .top-categories-header .top-categories-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.top-categories .top-categories-header .top-categories-buttons .prev-button {
  background-color: #fafafa;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2274509804);
  font-size: larger;
}
.top-categories .top-categories-header .top-categories-buttons .next-button {
  background-color: #ff7b29;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2274509804);
  font-size: larger;
  color: white;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

/*# sourceMappingURL=main.css.map */
