$gray-text: #989898;

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin: 8rem;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 3rem;
        margin: 2rem 4rem 2rem 4rem;
        text-align: center;
    }
    .text-container {
        width: 40%;
        @media screen and (max-width: 768px){
            width: 100%;
        }
        h1 {
            font-size: 2.5rem;
            margin: 0;
            line-height: 3rem;
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.5rem;
            color: $gray-text;
            margin: 0;
            line-height: 2rem;
        }
    }
    .avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        .img-container {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
    }
    .avatar-details {
        display: flex;
        flex-direction: column;
        h6 {
            margin: 0;
            font-size: 16px;
        }
        p {
            margin: 0;
            color: $gray-text;
            font-size: 16px;
            width: 100%;
        }
    }
}
