$gray-text: #949494;

@mixin margin-x($x) {
    margin-left: $x;
    margin-right: $x;
}

footer {
    display: flex;
    justify-content: space-between;
    @include margin-x(10%);
    h1 {
        font-size: 24px;
    }
    ul {
        list-style: none;
        padding: 0.2rem;
        li {
            margin: 1rem 0;
            color: $gray-text;
            cursor: pointer;
        }
    }

    .get-in-touch {
        p {
            margin: 2rem 0;
            color: $gray-text;
        }
        h4 {
            font-size: 24px;
            color: #00b2ff;
            cursor: pointer;
        }
    }
}
