$nav-prime-color: #212832;
$nav-second-color: #ff8032;

@mixin margin-x($x) {
    margin-left: $x;
    margin-right: $x;
}

nav {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include margin-x(3rem);
    @media screen and (max-width: 768px) {
        @include margin-x(1rem);
    }
    a {
        color: $nav-prime-color;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        span {
            color: $nav-second-color;
        }
    }

    button {
        background-color: $nav-second-color;
        border-radius: 0.7rem;
        border: none;
        padding: 0.5rem 1.5rem;
        color: white;
        cursor: pointer;
    }

    ul {
        display: flex;
        list-style: none;
        li {
            margin: 0 10px;
            a {
                color: #999999;
                text-decoration: none;
                font-size: 1rem;
                font-weight: lighter;
                text-shadow: 0.2px 0.2px 0.2px gray;
                &.is-active {
                    color: black;
                    border-bottom: 2px solid $nav-second-color;
                }
            }
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .menu {
        display: none;
        display: flex;
        @media screen and (max-width: 768px) {
            color: white;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}
