$nav-prime-color: #212832;
$nav-second-color: #ff8032;

@mixin margin-x($x) {
    margin-left: $x;
    margin-right: $x;
}

nav {
    color: #fff;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    @include margin-x(3rem);
    @media (max-width: 768px) {
        @include margin-x(1rem);
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 1000;
        background-color: #fafafa;
        top: 0;
        margin-left: 0;
    }
    a {
        color: $nav-prime-color;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        span {
            color: $nav-second-color;
        }
    }

    button {
        background-color: $nav-second-color;
        border-radius: 0.7rem;
        border: none;
        padding: 0.5rem 1.5rem;
        color: white;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            margin-right: 0.5rem;
        }
    }

    ul {
        display: flex;
        list-style: none;
        li {
            margin: 0 10px;
            a {
                color: #999999;
                text-decoration: none;
                font-size: 1rem;
                font-weight: lighter;
                text-shadow: 0.2px 0.2px 0.2px gray;
                &.is-active {
                    color: black;
                    border-bottom: 2px solid $nav-second-color;
                }
            }
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .menu {
        display: none;
        width: 40px;
        height: 40px;
        z-index: 1000;
        @media screen and (max-width: 768px) {
            display: flex;
            color: white;
            align-items: center;
            font-size: 2rem;
            position: relative;
            cursor: pointer;
            .line1 {
                position: absolute;
                top: 10px;
                width: 80%;
                height: 11%;
                background-color: black;
                border-radius: 5px;
                transition: all 0.5s ease;
                &.active {
                    transform: rotate(45deg) translate(7px, 7px);
                }
            }
            .line2 {
                position: absolute;
                top: 18px;
                width: 80%;
                height: 11%;
                background-color: black;
                border-radius: 5px;
                transition: all 0.5s ease;
                &.active {
                    opacity: 0;
                }
            }
            .line3 {
                position: absolute;
                top: 26px;
                width: 80%;
                height: 11%;
                background-color: black;
                border-radius: 5px;
                transition: all 0.5s ease;
                &.active {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }
}

// .mobile-links {
//     height: 100vh;
//     width: 100%;
//     background-color: black;
//     z-index: 40;
//     position: fixed;
// }
