@mixin margin-x($x) {
    margin-left: $x;
    margin-right: $x;
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 3rem;
    margin-top: 7.5rem;
    height: 3.2rem;
    @include margin-x(2rem);
    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-bottom: 1rem;
        margin-top: 5rem;
        height: auto;
    }
    .category {
        p {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0;
        }
        select {
            width: 100%;
            padding: 1rem 0;
            border: none;
            background-color: transparent;
            border-radius: 8px;

            option {
                border: none;
                background-color: transparent;
                padding: 2rem;
            }
        }
    }
    .button {
        background-color: #132742;
        padding: 1.2rem 2rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: #ffffff;
        }
        @media screen and (max-width: 768px) {
            margin-top: 1rem;
            grid-column: 1/3;
            display: flex;
            justify-content: center;
        }
    }
}

.js-example-responsive {
    background-color: transparent;
    border: none;
    padding: 1.5rem;
    option {
        background-color: transparent;
    }
}
