.custom-select {
    position: relative;

    select {
        display: none;
    }
}

.select-selected {
    background-color: transparent;

    &:after {
        position: absolute;
        content: '';
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: black transparent transparent transparent;
    }

    &.select-arrow-active:after {
        border-color: transparent transparent black transparent;
        top: 7px;
    }
}

.select-items div,
.select-selected {
    color: black;
    padding: 8px 32px 8px 2px;
    border: 1px solid transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0.5rem 1rem;
    width: 7rem;
}

.select-hide {
    display: none;
}


