$orange: #ff7b29;
$gray-text: #989898;

.top-categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 3rem;
        @media screen and (max-width: 768px) {
            font-size: 2rem;
            overflow: visible;
            width: max-content;
            margin: 0;
        }
    }

    .top-categories-cards {
        width: calc(100% - 4rem);
        display: grid;
        grid-gap: 10% 5%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        background-color: #fafafa;
        color: #444;
        height: fit-content;
        height: 80vh;

        @media screen and (max-width: 768px) {
            overflow-x: hidden;
            overflow-y: hidden;
            width: calc(100% - 2rem);
            grid-gap: 2% 11%;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto;
            height: 180vh;
        }
        .card {
            cursor: pointer;
            background: linear-gradient(to top, #4f4f4f, #fafafa);
            color: #fafafa;
            border-radius: 5px;
            padding: 7rem;
            font-size: 150%;
            position: relative;
            border-radius: 2rem;
            @media screen and (max-width: 768px) {
                padding: 5rem;
                font-size: 100%;
            }
        }

        .a {
            grid-column: 1;
            grid-row: 1;
            @media screen and (max-width: 768px) {
                grid-column: 1;
                grid-row: 1;
            }
        }
        .b {
            grid-column: 4;
            grid-row: 2;
            @media screen and (max-width: 768px) {
                grid-column: 1;
                grid-row: 4;
            }
        }
        .c {
            grid-column: 1;
            grid-row: 2;
        }
        .d {
            grid-column: 2/4;
            grid-row: 1/3;
            @media screen and (max-width: 768px) {
                grid-column: 2;
                grid-row: 1 / 3;
            }
        }
        .e {
            grid-column: 4/6;
            grid-row: 1;
            @media screen and (max-width: 768px) {
                grid-column: 1 / 3;
                grid-row: 3;
            }
        }
        .f {
            grid-column: 5;
            grid-row: 2;
            @media screen and (max-width: 768px) {
                grid-column: 2;
                grid-row: 4;
            }
        }
        .badge {
            position: absolute;
            top: 15px;
            left: 15px;
            background-color: #fafafa;
            color: $orange;
            padding: 5px;
            width: min-content;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: bold;
            border-radius: 35%;
            box-shadow: 0px 5px 10px 0px #0000003a;
        }
        .category-title {
            position: absolute;
            bottom: 25px;
            left: 10px;
            font-weight: bold;
            z-index: 100;
        }
        .category-dealer {
            position: absolute;
            bottom: 10px;
            left: 13px;
            font-size: 0.8rem;
            color: lighten($color: $gray-text, $amount: 25%);
        }
        img {
            position: absolute;
            top: 15px;
            right: 40px;
            height: 80%;
            filter: contrast(0.7) brightness(1.2);
            @media screen and (max-width: 768px) {
                right: 5%;
                height: 65%;
            }
        }
        .statue {
            height: 90%;
            @media screen  and (max-width: 768px){
                height: 80%;
            }
        }
    }
    .top-categories-header {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            width: 80%;
            transform:translateX(-5%);
        }
        .top-categories-texts {
            p {
                color: $gray-text;
            }
        }
        .top-categories-buttons {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-right: 3rem;
            @media screen and (max-width: 768px) {
                display: none;
            }
            .categories-prev-button {
                background-color: #fafafa;
                border: none;
                padding: 1rem;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 0px #0000003a;
                font-size: larger;
                cursor: pointer;
            }
            .categories-next-button {
                background-color: $orange;
                border: none;
                padding: 1rem;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 0px #0000003a;
                font-size: larger;
                color: white;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}
